.logo {
    display: flex;
    justify-content: left;
    padding: 10px;
}


.container-footer > * {
    text-align: center; 
}

.container-footer {
    margin-bottom: 30px;
    display: grid;
    grid-template: 
    "redes" auto
    "company" auto
    "input" auto /
    100%;

    .container-redes {
        grid-area: redes;
    }

    .container-company {
        grid-area: company;
    }

    .container-input {
        grid-area: input;
    }

    @media (min-width: 992px) {
        grid-template: 
        "redes company input" auto /
        1fr 1fr 1fr;
    }
}

/*container-redes*/
.container-redes > * {
    text-align: center; 
    padding: 8px;
    padding-left: 30px;
}

.container-redes {
    display: grid;
    grid-template: 
    "text" auto
    "icons" auto /
    100%;

    .cont-texto {
        grid-area: text;
    }

    .buttons-social-media {
        grid-area: icons;
    }
}

.cont-texto {
    text-align: center;    

    @media (min-width: 992px) {
        text-align: left;
        margin-left: 60px;
    }
}

.buttons-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    @media (min-width: 992px) {
        justify-content: left;
        align-items: center;
        margin-left: 60px;
    }
}


/*container-company*/
.container-company > * {
    text-align: center; 
    
}

.container-company {
    display: grid;
    grid-template: 
    "company" auto
    "support" auto /
    100%;

    .company {
        grid-area: company;
    }

    .support {
        grid-area: support;
    }

    @media (min-width: 992px) {
        grid-template: 
        "company support" auto /
        1fr 1fr;
    }
}

.company, .support {
    padding: 8px 0;
}

.title-list-footer {
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.item-list-footer {
    font-size: 0.9rem;
    padding: 1px;
}

/*container-input*/
.title-list-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-input {
    padding: 8px;
}

.container-input input {
    margin-top: 20px;
    background-color: #515B60;
    border: none;
    border-radius: 4px;
    padding: 13px;
    max-width: 200px;
    text-align: center; 
    
}

.input-email {
    font-size: 15px;
    
}


.logo h2 , .title-list-footer, .item-list-footer, .title-list-footer{
    color: white;
}



