/*------------------------------------Hero---------------------------------------*/

.section-hero > * {
    text-align: center; 
    padding-bottom: 20px;
}

.section-hero {
    justify-content: center;
    display: grid;
    grid-template: 
    "card" auto
    "img" auto /
    100%;

    .card-hero {
        grid-area: card;
        background-color: #F5F7FA;
    }

    .img-hero {
        grid-area: img;
        background-color: #F5F7FA;
    }

    @media (min-width: 992px) {
        grid-template: 
        "card img" auto /
        2fr 1fr;        
    }
}

/*card hero*/

.card-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;     
}
.container-card-hero{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.header-card {
    max-width: 1000px;
    font-size: 1.3rem;
    text-align: left;  

    @media (min-width: 992px)  {
        font-size: 2.1rem;
    }  
}

.header-card span {
    color: #52BD94;    
}

.main-hero {
    max-width: 500px;
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: left;

    @media (min-width: 992px)  {
        font-size: 1.7rem;
    } 
}

.footer-card {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 5px;

    @media (min-width: 992px)  {
        gap: 7px;;
    } 
}

.button-card {
    background-color: #52BD94;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;    
}

.button-card span {
    color: white;
    font-size: 0.9rem;
    @media (min-width: 992px)  {
        font-size: 1.4rem;
    }
}

/*Img hero*/
.img-hero {
    width: 100%;
    min-width: 150px; 
    padding: 10px;    
}

.img-hero img {
    width: 100%;
    max-width: 350px;  
}


/*------------------------------------Clients---------------------------------------*/

.section-clients > * {
    text-align: center;
}

.section-clients {
    margin: 8px;
    display: grid;
    gap: 10px;
    padding: 20px;
    margin-top: 10px;

    grid-template: 
    "title" auto
    "imgs" auto /
    100%;

    .container-title {
        grid-area: title;
        background-color: #FFFFFF;
    }

    .container-imgs {
        grid-area: imgs;
    }

    @media (min-width: 992px) {
        margin-top: 50px;
        gap: 20px;
    }
}

/* titulo */
.container-title {
    width: 100%;
    font-size: 1.7rem;
    text-align: center;  
    padding: 10px;  
}

.container-title .subtitle {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;  
    padding: 10px; 
}

/*manejo de imagenes*/
.container-imgs > * {
    text-align: center;
}

.container-imgs {
    width: 100%;
    padding-bottom: 25px;
    gap: 2px;
    display: grid;
    grid-template: 
    "img1 img2" 50px
    "img3 img4" 50px
    "img5 img6" 50px 
    "img7 img7" 50px /
    1fr 1fr;

    .company-img1 {
        grid-area: img1;
    }

    .company-img2 {
        grid-area: img2;
    }

    .company-img3 {
        grid-area: img3;
    }

    .company-img4 {
        grid-area: img4;
    }

    .company-img5 {
        grid-area: img5;
    }

    .company-img6 {
        grid-area: img6;
    }

    .company-img7 {
        grid-area: img7;
    }

    @media (min-width: 992px) {
        grid-template: 
        "img1 img2 img3 img4 img5 img6 img7" auto /
        1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.container-imgs {
    width: 100%; 
    align-items: center;   
}

.container-imgs img {
    width: 100%;
    min-width: 50px;
    max-width: 50px;
}


/*------------------------------------Community---------------------------------------*/

.section-community > * {
    padding: 10px;
    text-align: center;     
}

.section-community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template: 
    "text" auto
    "cards" auto /
    80%;

    .cont-text-community {
        grid-area: text;       
    }

    .cont-cards-community {
        grid-area: cards;
    }

    @media (min-width: 992px) {
        grid-template: 
        "text" auto
        "cards" auto /
        80%;
    }
}

.cont-text-community .title-community{
    padding: 5px;
    padding-top: 40px;
    font-size: 1.7rem;
}

.cont-text-community .text-community{
    padding: 5px;
    font-size: 1.1rem;
}

/*Organizacion de las cards responsive*/
.cont-cards-community > * {
    padding: 10px;
    text-align: center; 
    gap: 30px;
}

.cont-cards-community {
    gap: 10px;
    display: grid;
    grid-template: 
    "card1" auto
    "card2" auto
    "card3" auto /
    1fr;

    .card-organisations {
        grid-area: card1;
    }

    .card-associations {
        grid-area: card2;
    }

    .card-groups {
        grid-area: card3;
    }

    @media (min-width: 992px) {
        grid-template: 
        "card1 card2 card3" auto /
        1fr 1fr 1fr;
        gap: 50px;
    }
}

.title-organizations {
    font-size: 1.4rem;
    padding: 10px;
}

.text-organizations {
    font-size: 1.1rem;
    padding: 0 90px;
}

/*------------------------------------Pixel---------------------------------------*/

.section-pixel > * {
    padding: 10px;
    text-align: center; 
}

.section-pixel {
    margin: 8px;
    gap: 3px;
    display: grid;
    grid-template: 
    "img" 1fr 
    "card" 1fr /
    100%;

    .img-pixel{
        grid-area: img;
    }

    .card-pixel {
        grid-area: card;
    }

    @media (min-width: 992px) {
        grid-template: 
        "img card" auto /
        40% 60%;
    }
}

/*card pixel*/

.container-card-pixel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 992px) {
        margin-left: 150px;
    }
}

.card-pixel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;   
    width: 100%;
}

.header-card-pixel {
    max-width: 500px;
    font-size: 1.7rem;
    text-align: left;  
}

.main-pixel {
    max-width: 600px;
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: left;

    @media (min-width: 992px) {
        max-width: 800px;
    }
}

.footer-card-pixel {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
}

.button-card-pixel {
    background-color: #52BD94;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button-card-pixel span {
    font-size: 18px;
    color: white;
}

/*Img hero*/
.cont-img-pixel {
    width: 100%;
    min-width: 250px;

    @media (min-width: 992px) {
        text-align: right;
    }
}

.cont-img-pixel img {
    width: 100%;
    max-width: 400px;
}


/*------------------------------------Local Business---------------------------------------*/

.section-business > * {
    padding: 10px;
    text-align: center; 
}

.section-business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template: 
    "text" auto
    "info" auto /
    90%;

    .cont-text-business {
        grid-area: text;
    }

    .info-business {
        grid-area: info;
    }

    @media (min-width: 992px) {
        grid-template: 
        "text info" auto /
        45% 45%;
    }
}

/*texto*/
.cont-text-business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-business {
    font-size: 1.7rem;
}

.text-business {
    font-size: 1.1rem;
}

/*info*/

.info-business {
    display: grid;
    grid-template: 
    "item1" auto
    "item2" auto
    "item3" auto
    "item4" auto /
    100%;

    .item-members {
        grid-area: item1;
    }
    .item-event {
        grid-area: item2;
    }
    .item-clubs {
        grid-area: item3;
    }
    .item-payments {
        grid-area: item4;
    }

    @media (min-width: 992px) {
        grid-template: 
        "item1 item2" auto
        "item3 item4" auto /
        1fr 1fr;
    }
}

/*List info-business*/
.title-card-business {
    font-size: 1.3rem;
}

.text-card-business {
    font-size: 0.9rem;
}

.cont-img img {
    padding: 5px;
}

.info-business {
    text-align: center;
}

/*Item 1*/
.item-members > * {    
    padding: 10px;
    text-align: left;     
}

.item-members{    
    display: grid;
    grid-template: 
    "img text" auto /
    1fr 5fr;

    @media (max-width: 992px) {
        margin-left: 30%;
    }
}

/*Item 2*/
.item-event > *{
    padding: 10px;
    text-align: left;     
}

.item-event {
    display: grid;
    grid-template: 
    "img text" auto /
    1fr 5fr;

    @media (max-width: 992px) {
        margin-left: 30%;
    }
}

/*Item 3*/
.item-clubs > *{
    padding: 10px;
    text-align: left;     
}

.item-clubs {
    display: grid;
    grid-template: 
    "img text" auto /
    1fr 5fr;

    @media (max-width: 992px) {
        margin-left: 30%;
    }
}

/*Item 4*/
.item-payments > *{
    padding: 10px;
    text-align: left;     
}

.item-payments {
    display: grid;
    grid-template: 
    "img text" auto /
    1fr 5fr;

    @media (max-width: 992px) {
        margin-left: 30%;
    }
}

/*------------------------------------Design---------------------------------------*/

.section-design > * {
    padding: 10px;
    text-align: center; 
}

.section-design {
    margin: 8px;
    gap: 3px;
    display: grid;
    grid-template: 
    "img" 1fr 
    "card" 1fr /
    100%;

    .img-design{
        grid-area: img;
    }

    .card-design {
        grid-area: card;
    }

    @media (min-width: 992px) {
        grid-template: 
        "img card" auto /
        40% 60%;
    }
}

/*card hero*/

.titulo-design{
    font-size: 1.9rem;
}

.main-design p{
    font-size: 1.1rem;
}

.button-card-design {
    font-size: 18px;
}

.container-card-design{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.card-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;     
}

.header-card-design{
    max-width: 500px;
    font-size: 1.7rem;
    text-align: left;  
}

.main-design {
    max-width: 600px;
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: left;

    @media (min-width: 992px) {
        max-width: 800px;
    }
}

.footer-card-design {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 10px;
}

.button-card-design {
    background-color: #52BD94;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button-card-design span {
    color: white;
}

/*Img hero*/
.cont-img-design {
    width: 100%;
    min-width: 300px;

    @media (min-width: 992px) {
        text-align: right;
    }
}

.cont-img-design img {
    width: 100%;
    max-width: 400px;
}


/*------------------------------------Customers---------------------------------------*/

.section-customers > * {
    padding: 10px;
    text-align: center; 
}

.section-customers {
    margin-bottom: 15px;
    display: grid;
    grid-template: 
    "parrafo" auto
    "img" auto /
    100%;

    .img-customers {
        grid-area: img;
    }
    .text-customers {
        grid-area: parrafo;
    }

    @media (min-width: 992px) {
        grid-template: 
        "img parrafo" auto /
        1fr 2fr;
    }
}

/*Imagen*/
.img-customers {
    width: 100%;
    min-width: 300px;
    text-align: center;

    @media (min-width: 992px) {
        text-align: right;
    }
}

.img-customers img {
    width: 100%;
    max-width: 400px;
}

/*Organizar sesion de parrafo con botones*/

.text-customers > * {
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;

    @media (min-width: 992px) {
        text-align: left;
        margin-left: 30px;
        max-width: 80%;
    }
}

.p-customers {
    padding: 8px;
}

.p-customers-tim {
    color: #52BD94;
    padding: 8px;
}

.text-customers {
    display: grid;
    grid-template: 
    "parrafo" auto
    "buttons" auto /
    100%;

    .parrafo-customers {
        grid-area: parrafo;
    }

    .buttons-customers {
        grid-area: buttons;
    }

    @media (min-width: 992px) {
        grid-template: 
        "parrafo" auto
        "buttons" auto /
        100%;
    }
}

/*manejo de imagenes finales*/
.buttons-customers > * {
    padding: 10px;
    text-align: center;
}

.buttons-customers > * {
    text-align: center;
}

.buttons-customers {
    width: 100%;
    gap: 2px;
    display: grid;
    grid-template: 
    "img1 img2" 50px
    "img3 img4" 50px
    "img5 img6" 50px 
    "img7 img7" 50px /
    1fr 1fr;

    .company-img1 {
        grid-area: img1;
    }

    .company-img2 {
        grid-area: img2;
    }

    .company-img3 {
        grid-area: img3;
    }

    .company-img4 {
        grid-area: img4;
    }

    .company-img5 {
        grid-area: img5;
    }

    .company-img6 {
        grid-area: img6;
    }

    .meet-customers {
        grid-area: img7;
    }

    @media (min-width: 992px) {
        grid-template: 
        "img1 img2 img3 img4 img5 img6 img7" auto /
        1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.buttons-customers {
    width: 100%;   
}

.buttons-customers img {
    width: 100%;
    min-width: 50px;
    max-width: 50px;
}


/*------------------------------------Marketing---------------------------------------*/

.section-marketing > * {
    padding: 10px;
    text-align: center;     
}

.section-marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template: 
    "text" auto
    "cards" auto /
    80%;

    .cont-text-marketing {
        grid-area: text;     
    }

    .cont-cards-marketing {
        grid-area: cards;
    }

    @media (min-width: 992px) {
        grid-template: 
        "text" auto
        "cards" auto /
        80%;
    }
}

.cont-text-marketing .title-marketing{
    padding: 5px;
    font-size: 1.3rem;
}

.cont-text-marketing .text-marketing{
    padding: 5px;
    font-size: 0.9rem;
}

/*Organizacion de las cards responsive*/
.cont-cards-marketing > * {
    padding: 10px;
    text-align: center; 
    gap: 5px;
}

.cont-cards-marketing {
    gap: 5px;
    display: grid;
    grid-template: 
    "card1" auto
    "card2" auto
    "card3" auto /
    1fr;

    .card-one{
        grid-area: card1;
    }

    .card-two {
        grid-area: card2;
    }

    .card-three {
        grid-area: card3;
    }

    @media (min-width: 992px) {
        grid-template: 
        "card1 card2 card3" auto /
        1fr 1fr 1fr;
    }
}

/*Textos*/
.cont-text-marketing .title-marketing {
    font-size: 1.8rem;
}

.cont-text-marketing .text-marketing {
    font-size: 1.1rem;
}

.text-organizations, .text-associations, .text-groups {
    font-size: 1.1rem;
}


/*------------------------------------Fringilla---------------------------------------*/

.section-fringilla > * {
    padding: 10px;
    text-align: center;  
}

.section-fringilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
    display: grid;
    grid-template: 
    "title" auto
    "button" auto /
    100%;

    .title-final {
        grid-area: title;        
    }

    .button-final {
        grid-area: button; 
    }
}

.title-final {
    font-size: 1.8rem;
}

.button-final button{
    background-color: #4CAF4F;
    border-radius: 5px;
    padding: 15px;
    border: none;
    font-size: 17px;
}




